extends layout
block header
	.header-wrapper.header-wrapper--index
		header(class="header")
			.header__logo
				a(href="/")
			.header__cart
			.menu-btn.js-menu
		.menu-content
			.menu-close.js-menu-close
			.menu-content__main
				ul.menu
					each item in menu
						li(class= item.class)
							a(href= item.url)= item.name
			img(src="images/mobile-menu-img.jpg" alt="" class="mobile-menu-img")
			a(href="/" class="mobile-link")
				img(src="images/raduga-grez-dark.svg" alt="" class="mobile-menu-logo")
			.menu-content__catalog
				.menu-back.js-menu-back
					each item in menuCatalog
						ul.menu-catalog
							li= item.header
							each subitem in item.links
								li
									a(href="")= subitem.title

block content

	main
		.main-index
			.header__info
				h1 Toys<br> as art
				.header-video
					video(autoplay="" loop="" muted="" playsinline="")
						source(src="./images/main.mp4")
				.header__btn
					a(href="#" class="btn btn--light")
						span Find your toy

		.main-about-us
			.container
				.main-modern
					.title-small about us
					.main-modern__title
						h2 Toys for modern families
					.main-modern__content
						.main-modern__text
							p We create toys for mothers, who want to play with their children in an aesthetically way and not to feel bored about play.
						.main-modern__img
							img(src="images/content/about-3.jpg" alt="" class="main-about-bottom")
							img(src="images/content/about-1.jpg" alt="" class="main-about-content")
							img(src="images/content/about-2.jpg" alt="" class="main-about-top")
						.main-modern__text
							.main-modern__text-floating
								p We produce ethical toys that will never serve a bad example for your children. We use only solid wood grown in our region and we buy it from a responsible supplier.
								a(href="" class="btn btn--dark")
									span Read more

				.catalog.catalog--main
					.catalog__title
						h3 toys to spend time together
					.catalog__list
						each item in catalog.slice(0, 5)
							.catalog__item
								.catalog__image
									img(alt="" src= item.img)
								.catalog__content
									.catalog__category= item.category
									.catalog__info
										.catalog__name= item.name
										.catalog__price= item.price
										a(href="" class="add-to-cart") Add to cart

		.main-categories
			.container
				.main-categories__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.swiper-slide__text
									.title-small categories
									h3 Building blocks
									p We produce ethical toys that will never serve a bad example for your children. We use only solid wood grown in our region and we buy it from a responsible supplier.
									a(href="" class="btn btn--dark")
										span Shop
								.swiper-slide__img
									img(src="images/content/slider-1.jpg" alt="")
							.swiper-slide
								.swiper-slide__text
									.title-small categories
									h3 Building blocks
									p We produce ethical toys that will never serve a bad example for your children. We use only solid wood grown in our region and we buy it from a responsible supplier.
									a(href="" class="btn btn--dark")
										span Shop
								.swiper-slide__img
									img(src="images/content/slider-1.jpg" alt="")
							.swiper-slide
								.swiper-slide__text
									.title-small categories
									h3 Building blocks
									p We produce ethical toys that will never serve a bad example for your children. We use only solid wood grown in our region and we buy it from a responsible supplier.
									a(href="" class="btn btn--dark")
										span Shop
								.swiper-slide__img
									img(src="images/content/slider-1.jpg" alt="")
						.swiper-slide__buttons
							.swiper-pagination
							.swiper-button-prev
							.swiper-button-next

		.main-likes
			.container
				.main-likes__title
					h2 For what do you like RADUGA GRËZ TOYS?
				.main-likes__list
					each item in likes
						.main-likes__item
							.main-likes__text= item.text
							.main-likes__author
								.main-likes__author-img
									img(src= item.img alt="")
								.main-likes__author-info
									.main-likes__name= item.name
									.main-likes__place= item.place

				img(src="images/content/stories-2.jpg" alt="" class="main-likes-top")
				img(src="images/content/stories-4.jpg" alt="" class="main-likes-content")
				img(src="images/content/stories-3.jpg" alt="" class="main-likes-bottom")

		.main-stories
			.main-stories__content
				.title-small Stories
				h3 DASHA & UNA
				img(src="images/content/stories-1.jpg" alt="")
				.main-stories__info
					p Behind the scene of photoshoot our latest collection in Saint Petersburg
				a(href="stories.html").btn.btn--light
					span View more

